
.vs/TestingResource_1/v16/.suo
ResourceTest/obj/Debug/ResourceTest.csproj.FileListAbsolute.txt
ResourceTest/obj/Debug/ResourceTest.csproj.AssemblyReference.cache
*.exe
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
