
.vs/TestingResource_1/v16/.suo
ResourceTest/obj/Debug/ResourceTest.csproj.FileListAbsolute.txt
ResourceTest/obj/Debug/ResourceTest.csproj.AssemblyReference.cache
*.exe
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpdateDemo/obj/Debug/UpdateDemo.csproj.AssemblyReference.cache
ResourceTest/obj/Debug/ResourceTest.exe
ResourceTest/bin/Debug/ResourceTest.exe
SetupDemo/Debug/SetupDemo.msi
SetupDemo/Debug/SetupDemo.msi
ResourceTest/obj/Debug/ResourceTest.exe
ResourceTest/obj/Debug/ResourceTest.exe
ResourceTest/obj/Debug/ResourceTest.csproj.GenerateResource.cache
ResourceTest/bin/Debug/ResourceTest.pdb
ResourceTest/bin/Debug/ResourceTest.pdb
ResourceTest/obj/Debug/ResourceTest.exe
UpdateDemo/obj/Debug/UpdateDemo.pdb
UpdateDemo/obj/Debug/UpdateDemo.csproj.AssemblyReference.cache
ResourceTest/obj/Debug/ResourceTest.csproj.GenerateResource.cache
ResourceTest/obj/Debug/ResourceTest.pdb
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
UpdateDemo/bin/Debug/UpdateDemo.pdb
UpdateDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpdateDemo/bin/Debug/UpdateDemo.pdb
UpdateDemo/bin/Debug/UpdateDemo.pdb
ResourceTest/obj/Debug/ResourceTest.Form1.resources
UpdateDemo/obj/Debug/UpdateDemo.Form1.resources
ResourceTest/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
UpdateDemo/obj/Debug/UpdateDemo.csproj.GenerateResource.cache
