
.vs/TestingResource_1/v16/.suo
ResourceTest/obj/Debug/ResourceTest.csproj.FileListAbsolute.txt
ResourceTest/obj/Debug/ResourceTest.csproj.AssemblyReference.cache
*.exe
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ResourceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpdateDemo/obj/Debug/UpdateDemo.csproj.AssemblyReference.cache
ResourceTest/obj/Debug/ResourceTest.exe
ResourceTest/bin/Debug/ResourceTest.exe
SetupDemo/Debug/SetupDemo.msi
SetupDemo/Debug/SetupDemo.msi
ResourceTest/obj/Debug/ResourceTest.exe
ResourceTest/obj/Debug/ResourceTest.exe
ResourceTest/obj/Debug/ResourceTest.csproj.GenerateResource.cache
